* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Instrument Serif", serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4vh 12vw 4vh 4vw;
}

h1 {
    font-size: 8rem;
    font-weight: 400;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 5vw;
    font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: #000;
}

.hero-image img {
    width: 100%;
}

.hero-image h3 {
    font-size: 6rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-weight: 400;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    border-radius: 20px;
}